<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cuisine Chaser</title>
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Alif Faturahman Firdaus's Restaurant" />
    <meta name="description" content="Katalog Restoran + PWA (Submission 2)" />
    <meta name="theme-color" content="#DB0000" />

    <!-- Manifest -->
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    
    <!-- Icon -->
    <link rel="icon" href="./images/heros/restaurant.ico" />
    
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />    
  
    <!-- Symbols -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" rel="stylesheet"/>
  </head>

  <body>
    <!-- Skip-Link -->
    <a href="#mainContent" class="skip-link">To the Content</a>

    <!-- Header -->
    <header-custom></header-custom>

    <!-- Main Content -->
    <main-custom></main-custom>

    <!-- Footer -->
    <footer-custom></footer-custom>
  </body>
</html>
